@model moeKino.Models.AddToRoleModel
@{
    ViewBag.Title = "Add User To Role";
}
<div style="min-height:480px;width:98%">
    <h2 style="color:white;margin-left:11%">@ViewBag.Title</h2>
    <br />
    <div class="row">
        <div class="col-md-6" style="margin-left:11%;color:white">
            @using (Html.BeginForm("AddUserToRole", "Account"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m=>m.SelectedRole,new SelectList(new List<Object>{

                                       new { value = "User" , text = "User" }

                                    },
                                  "value",
                                  "text",
                                   2),new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            }
        </div>
    </div>
</div>

