@model moeKino.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2 style="color:rgb(3,174,218)">Details about the client</h2>

<div style="color:rgb(3,174,218);font-size:15px;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>List of movies: </dt>
        <dd>

        </dd>

    </dl>
</div>
<p class="btn btn-default">
    <img src="~/Content/back.png" width="35px;" /> @Html.ActionLink("Back to List", "Index")
</p>
<p class="btn btn-warning">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) 
</p>

