
@model moeKino.Models.Film

@{
    ViewBag.Title = "DetailsRatingMovies";
}

<h2 style="color:rgb(3,174,218)">@Model.Name</h2>

<table style="color:rgb(3,174,218)">
    <tr>
        <td style="width:600px;">

            <dl class="dl-horizontal" style="color:rgb(3,174,218)">




                <dt>

                </dt>

                <dd class="s3">

                    <img class="s3" src="@Url.Content(@Model.Url)" width="200px" />
                    <br>

                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Director)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Director)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Stars)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stars)
                </dd>

            </dl>
        </td>
        <td>
            <div style="padding-top:120px;padding-left:80px;">
                @{
                    if (Model.clients.Capacity != 0)
                    {
                        <h2><img src="http://beta1.logisoft-cy.net/wp-content/uploads/2014/09/group1.png" width="50px">  Clients:</h2>
                        foreach (moeKino.Models.Client c in Model.clients)
                        {
                            <ul>
                                <li>
                                    <a href="/Clients/Details/@c.ClientId">@c.Name</a>
                                </li>
                            </ul>

                        }
                    }
                    else
                    {
                        <h3><img src="http://beta1.logisoft-cy.net/wp-content/uploads/2014/09/group1.png" width="50px">  No clients</h3>
                    }
                }
            </div>


        </td>
    </tr>
</table>


<p>
    <a href="/Films/RatingMovies"> <img src="https://cdn2.iconfinder.com/data/icons/office-elements/512/operation-back.png" width="60px;"> </a>
</p>
