@model IEnumerable<moeKino.Models.Film>

@{
    ViewBag.Title = "Index";
}


<table>
    <tr>
        <td><img src="https://media.giphy.com/media/8754ImlPF86US07FUi/source.gif" width="200px;"></td>
        <td>
        <p class="btn btn-default">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Create New", "Create")

            }
        </p>
        </td>
    </tr>
</table>

<table class="table" id="movieTable">
    <thead>
        <tr style="font-size:20px;color:rgb(3,174,218)">
            <th>Movie Name </th>
            <th>Movie Image</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="font-size:25px;color:rgb(3,174,218)">@Html.DisplayFor(modelItem => item.Name) </td>

                <td><img src="@item.Url" width="200px" /> </td>

                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    }
                    @if (User.IsInRole("User") || User.IsInRole("Visitor") || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@
                        <button data-movie-id="@item.Id" class="btn btn-danger js-delete">Delete</button>
                    }
                </td>



            </tr>

        }
    </tbody>

</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $("#movieTable").DataTable();
            $(".js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this movie?")) {
                    $.ajax({
                        url: "/api/Films1/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                            table.row(button.parents("tr").remove().draw());
                        }
                    });
                }

            });

        });
    </script>
    }